@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f1eae0;
  background: linear-gradient(to right, #d1c5c5, #f1eae0);
}

p {
  font-size: 15px;
  color: #333333;
}

h1, h2, h3, h4, h5, h6, p {
  color: #333333;
}

.heading-1, h1 {
  @apply font-bold text-3xl;
}

